*.pyc
*.DS_Store
libuse-openshift.komodoproject
static
venv
libraryuse/localsettings.py
libraryuse/api/resources.pyc
libraryuse/api/__init__.pyc
localsettings.py
sitemedia/js/data/test-divs.json
test-results
docs/_build
docs/_build/.*
.metadata
libraryuse/.idea/