{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    
    <title>Library Use</title>

    <link id="siteFavIcon" rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/component.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'js/libs/flipclock/flipclock.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock %}
    <script src="{% static 'js/libs/modernizr.custom.js' %}"></script>
  </head>
  <body data-spy="scroll">
    {% block content %}{% endblock %}
  </body>
  {# Vendor javascripts #}
  {% include "libraryuse/include/jquery.html" %}
  {% include "libraryuse/include/csrf.html" %}
  {% include "libraryuse/include/highstock.html" %}
  {% include "libraryuse/include/components.html" %}
  {% include "libraryuse/include/ember.html" %}

  {% block ember-app-js %}
    {# Application #}
    {% include "libraryuse/include/app.html" %}
  {% endblock %}
  </body>
</html>
